.footer_container{
background-color: #0c0e12;
height: 8vh;
width: 100%;
}

.link_container a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    
}