.nav_container{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0c0e12;
    height: 8vh;
}

.nav_icon{
    display: flex;
    width: 50%;
    align-items: center;
    cursor: pointer;
}

.nav_icon img{
    padding: 0px 10px 0px 10px;
    height: 45px;
    
}

.nav_icon span {
    color: #5bbd9c;
    font-weight: bold;
}

.nav_links{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links, .NavLink{
    text-decoration: none;
    color: whitesmoke;
}
